<h1 style='color:white'><strong>GAPF!SH URL SHORTENER</strong></h1>
<%= flash[:error] %>
<%= form_with model: @url do |form| %>

<%= form.text_field :long_url %>

  <%= form.submit %>
<% end %>

<br><br><%= link_to image_tag ("Majid_Sticker.png") %>