<h1 style='color:white'><strong>GAPF!SH URL SHORTENER</strong></h1>
<%= flash[:error] %>
<%= form_with model: @url do |form| %>

<%= form.text_field :long_url %>

  <%= form.submit %>
<% end %>
<br><br>
<div class="row">
  <div class="col">
<%= link_to image_tag ("Majid_Sticker.png") %>
</div>
  <div class="col" style="color:white">
Thank you for checking out my coding challenge! I can't wait to hear your feedback and hopefully join the team! I am a linguistics nerd and enjoy learning new languages. I love animals and am expecting a puppy soon. I have worked in multiple countries, languages, and environments and thrive when collaborating with others. I truly believe in the value of diversity and am excited to be surrounded by likeminded, forward-thinking tech professionals. I always tackle new challenges and never want to stop learning. I am a passionate cook and would also love to cook for the office one day! My experience is primarily in Ruby and JavaScript, however, I like a challenge - so I have been self learning Go and Python in my free time.
</div>
</div>